# Xcode
*.xcodeproj/
xcuserdata/
DerivedData/
*.xcworkspace/
!*.xcodeproj/project.pbxproj

# Build
build/
*.ipa
*.dSYM.zip
*.dSYM

# Dependencies
Pods/
Carthage/

# OS
.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
*~
.idea/
.vscode/
